
.menubar {
  width: 100%;
}

.menubar div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  display: block;
  width: 83px;
  height: 24px;
  background-image: url(../images/logo.svg);
}
